body {
  margin: 0;
  background: linear-gradient(135deg, #323278, #080e2c);
  background-attachment: fixed;
}

@font-face {
  font-family: 'bold';
  src: url(./assets/fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: 'regular';
  src: url(./assets/fonts/Poppins-Regular.ttf);
}

